.news-section {
    width: var(--ancho-page);
    margin: var(--space-between) auto;
    text-align: center;
}

.news-main-title {
    font-size: var(--font-size-title);
    color: var(--color-black);
    margin-bottom: 2rem;
}

.newfeature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    
}

.news-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    overflow: hidden;
    /* border-radius: var(--border-radius); */
    /* background-color: var(--color-gray-light); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card-content {
    padding: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.news-card-category {
    font-size: var(--font-size-small);
    color: var(--color-tertiaty);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.news-card-title {
    font-size: var(--font-size-small);
    color: var(--color-black);
    margin-bottom: 0.5rem;
    flex-grow: 1;
    min-height: 4.2rem;
}

@media (max-width: 768px) {
    .newfeature-grid{
        padding: 1rem;
    }

    .news-card-title{
        font-size: var(--font-size-text);
    }
}