.section-three-info{
    background-color: var(--color-secondary);
    width: 100%;
    padding: 3rem;
    position: relative;
    margin-top: 5rem;
    z-index: 10;
}

.content-three-info{
    display: grid;
    color: var(--color-white);
    width: var(--ancho-page);
    place-items: center;
    margin: auto;
}

.three-info-row-one{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .5rem;
}

.title-three-info h2{
    font-size: var(--font-size-title);
    font-weight: 300;
    line-height: 3rem;
    width: 60%;
    z-index: 100;
    position: relative;
    
}

.three-info-row-two{
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem;
}

.description-three-info p{
    font-size: var(--font-size-small);
    font-weight: 300;
    line-height: 1.3rem;
}

.three-info-more{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.more-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--color-primary);
    transition: box-shadow 0.3s;
    background-color: var(--color-secondary);
    z-index: 9;
}

.more-info:hover{
    box-shadow: inset 0 .5rem 0 0 var(--color-primary);
    background-color: var(--color-hover);
}

.more-info a {
    text-decoration: none;
    color: var(--color-white);
}

.more-info a span {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 300;
}

.more-info a h2 {
    font-size: var(--font-size-text);
    font-weight: 300;
    margin: 1rem 0;
    line-height: 2rem;
}

.more-info a p {
    font-size: var(--font-size-small);
    font-weight: 300;
}

.img-three-one{
    position: absolute;
    top: -4rem;
    right: 0;
    width: 55rem;
    height: 10rem;
    overflow: hidden;
}

.img-three-one img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: var(--color-primary)(70%) blur(5px);
}

.img-three-two{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40rem;
    height: 15rem;
    overflow: hidden;
}

.img-three-two img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backdrop-filter: blur(1rem);
}