.content-noticias{
    width: var(--ancho-page);
    margin: auto;
}

.notice-page h1 {
    font-size: var(--font-size-h1);
    color: var(--color-secondary);
    text-align: center;
    margin-bottom: 3rem;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pagination-controls button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-controls span {
    text-align: center;
}

@media (max-width: 780px) {
    .content-noticias{
        padding: 1rem;
    }
}