.plantas-container {
    height: 400px;
    width: var(--ancho-page);
    cursor: pointer;
    margin: auto;
    margin-bottom: 3rem;
}

.map-container {
    height: 100%;
    width: 100%;
    z-index: 500;
}

.name-ubi{
    font-size: var(--font-size-text);
    margin: auto;
    margin-bottom: 1rem;
    color: var(--color-text-light);
    width: var(--ancho-page);
}

@media (max-width: 780px) {
    .name-ubi{
        font-size: var(--font-size-small);
        padding: 1rem;
    }

    .plantas-container{
        width: 90%;
        margin-bottom: 0;
        height: 300px;
    }

    .map-container{
        width: 100%;
        height: 80%;
    }
}