.form-unete-section {
    width: 100%;
    margin: var(--space-between) auto;
}

.form-unete-wrapper {
    max-width: var(--ancho-page);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-white);
    /* border-radius: var(--border-radius); */
    overflow: hidden;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
    margin: auto;
}

.form-unete-info {
    /* background: var(--color-secondary); */
    padding: 3rem;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-unete-info .form-unete-title {
    color: var(--color-black);
    font-size: var(--font-size-title);
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.form-unete-info .form-unete-description {
    color: var(--color-text-light);
    font-size: var(--font-size-small);
    line-height: 1.6;
}

.form-unete-container {
    padding: 3rem;
    display: grid;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    /* border-radius: var(--border-radius); */
    font-size: 1rem;
    font-family: var(--font-family);
    transition: border-color 0.3s ease;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.2);
}

.form-group input[type="file"] {
    padding: 0;
    border: none;
    font-size: 0.9rem;
}

.form-group input[type="file"]::-webkit-file-upload-button {
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.7rem 1.2rem;
    /* border-radius: var(--border-radius); */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
}

.form-group input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--color-hover);
}

.form-unete-submit {
    padding: 0.8rem 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    /* border-radius: var(--border-radius); */
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: start;
    margin-top: 1rem;
}

.form-unete-submit:hover {
    background-color: var(--color-hover);
}

@media (max-width: 992px) {
    .form-unete-wrapper {
        grid-template-columns: 1fr;
    }
    .form-unete-section {
        width: 90%;
    }
    .form-unete-info {
        padding: 2rem;
    }
    .form-unete-container {
        padding: 0;
        gap: 0.5rem;
    }
}
