.counter-stats-card {
    padding: 2rem;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    min-width: 200px;
    background: linear-gradient(var(--color-tertiaty), var(--color-primary));
    border-radius: var(--border-radius);
}

.counter-stats-card:hover {
    transform: translateY(-5px);
}

.counter-stats-number {
    color: var(--color-white);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* border-bottom: 1px solid var(--color-gray-light); */
    padding-bottom: 0.5rem
}

.counter-icon{
    font-size: 5rem;
    padding: 2rem;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.counter-stats-label {
    font-size: 1.2rem;
    color: var(--color-white);
}
