.section-title-page{
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title-page{
    width: var(--ancho-page);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;;
}

.content-title-page h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary);
}

.content-title-page p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-light);
}