.carrusel-component {
    max-width: 100%;
    overflow: hidden;
    /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18); */
    position: relative;
    aspect-ratio: 16/4;
    background: #000;
    z-index: 1;
}

/* slide */
.carrusel__slide {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
}

.carrusel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s ease;
    display: block;
}

.carrusel__image:hover {
    transform: scale(1.03);
}

.carrusel__overlay {
    position: absolute;
    inset: 0;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.62) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    width: 100%;
}

.carrusel__caption {
    color: #fff;
    text-align: center;
    width: 70%;
    text-align: left;
}

.carrusel__caption h1 {
    font-size: var(--font-size-big);
    margin: 0 0 .5rem;
    font-weight: 700;
    text-shadow: 0 6px 18px rgba(0, 0, 0, .6);
    width: 90%;
    text-align: start;
}

.carrusel__caption p {
    margin: 0;
    opacity: .95;
    font-size: var(--font-size-subtitle);
}

/* nav buttons */
.carrusel__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 1.3rem;
    border: none;
    color: var(--color-white);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 50;
    transition: transform .15s ease, background .15s ease;
}

.carrusel__nav--prev {
    left: 16px;
}

.carrusel__nav--next {
    right: 16px;
}

.carrusel__nav:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateY(-50%) scale(1.03);
}



/* indicators */
.carrusel__indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    display: flex;
    gap: .5rem;
    z-index: 50;
}

.carrusel__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    transition: transform .18s, background .18s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.35);
}

.carrusel__dot.active {
    background: rgba(255, 255, 255, 0.911);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    transform: scale(1.25);
}

/* responsive */
@media (max-width:780px) {
    .carrusel__nav {
        width: 40px;
        height: 40px;
    }

    .carrusel__caption h1 {
        font-size: var(--font-size-subtitle);
        width: 100%;
    }

    .carrusel__caption p {
        display: none;
    }

    .carrusel-component {
        margin: 1rem;
        border-radius: 8px;
        aspect-ratio: 16/9;
    }
}