.card-info-myv {
    background-color: var(--color-gray-light);
    padding: 2rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    color: var(--color-secondary);
    text-align: left;
    min-height: 20rem;
    transition: all 0.3s ease-in-out;
}

.card-info-myv:hover, .card-info-myv.active{
    background-color: var(--color-primary);
    color: var(--color-white);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title-myv {
    font-size: var(--font-size-title);
    font-weight: 300;
    margin-bottom: 1rem;

}

.context-myv {
    font-size: var(--font-size-small);
    margin-bottom: 1.5rem;
}

.content-button-myv{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-info-myv button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.card-info-myv button:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}


.modal-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /*No scroll*/
}



.modal-content-myv {
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-radius);
    max-width: 50%;
    position: relative;
    text-align: left;
    overflow: hidden;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}


.description-myv, .context-myv-modal {
    font-size: var(--font-size-text);
    color: var(--color-text-light);
}

@media (max-width: 768px) {
    .card-info-myv {
        min-height: auto;
    }

    .card-info-myv:hover{
        scale: .9;
    }

    .modal-content-myv {
        max-width: 90%;
    }
}
