.news-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: var(--border-radius);
}

.news-card-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-white);
}

.news-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card-content {
    padding: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.news-card-category {
    font-size: var(--font-size-small);
    color: var(--color-tertiaty);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.news-card-title {
    font-size: 1.1rem;
    color: var(--color-black);
    margin: 0;
    flex-grow: 1;
}
